<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <h4>Welcome To WEB_DEv_TASK by Arjav</h4>
    <form action="/auth/page">
        <button>/private</button>
    </form>
</body>
</html>